@use 'base/mixins' as m;
@use 'base/variables' as v;

/* Contenedor de las citas */
.citas {
    list-style: none;
    padding: 0;

    li {
        margin-top: 5rem;
        padding: 1.5rem;
        background-color: #ffffff; /* Fondo blanco */
        margin-bottom: 1.5rem;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        border-left: 5px solid #d4af37; /* Borde dorado */

        p {
            font-weight: v.$bold;
            color: #d4af37; /* Texto dorado */
        }

        span,
        .servicio {
            font-weight: v.$regular;
            color: #000000; /* Texto negro */
        }

        /* Alineación de los botones */

        .anulado-texto {
            color: white;
            font-size: 1.8rem;
            font-weight: bold;
            margin-top: 1rem;
            background-color: #c62828; /* Fondo de texto rojo */
            padding: 10px;
            border-radius: 3px;
            text-align: center;
        }

        /* Texto para citas confirmadas */
        .realizado-texto {
            color: white;
            font-size: 1.8rem;
            font-weight: bold;
            margin-top: 1rem;
            background-color: #28a745; /* Fondo de texto verde */
            padding: 10px;
            border-radius: 3px;
            text-align: center;
        }

        .botones-admin {
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-top: 10px;
        }

        /* Efecto de neón en hover con transición */
        transition: box-shadow 0.3s ease-in, box-shadow 0.7s ease-out;

        &:hover {
            box-shadow: 0 0 15px rgba(212, 175, 55, 0.5), 0 0 20px rgba(212, 175, 55, 0.3); /* Sombra dorada */
        }

        /* Evitar cambio de cursor */
        cursor: default;
    }
}

/* Estilo para las citas anuladas */
.citas .anulada {
    background-color: #f2f2f2; /* Fondo más claro para las anuladas */
    border-left: 5px solid #ff0000; /* Borde rojo para las anuladas */
    opacity: 0.7; /* Opacidad reducida para indicar que está anulada */

    /* Cambios sutiles al pasar el mouse */
    &:hover {
        box-shadow: 0 0 15px rgba(255, 0, 0, 0.5), 0 0 20px rgba(255, 0, 0, 0.3);
    }
}

/* Estilo para las citas realizadas */
.citas .realizado {
    background-color: #f2f2f2; /* Fondo más claro para las realizadas */
    border-left: 5px solid #28a745; /* Borde verde */
    opacity: 0.7; /* Opacidad reducida para indicar que está realizada */

    /* Cambios sutiles al pasar el mouse */
    &:hover {
        box-shadow: 0 0 15px rgba(40, 167, 69, 0.5), 0 0 20px rgba(40, 167, 69, 0.3); /* Tonos de verde suave */
    }
}

/* Cambios al pasar el mouse sobre citas realizadas */
.citas .realizado:hover {
    box-shadow: 0 0 15px rgba(40, 167, 69, 0.5), 0 0 20px rgba(40, 167, 69, 0.3); /* Sombra verde */
}

/* Estilo para el formulario y campo */
.formulario-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

/* Estilo para el campo del input */
.campo-admin {
    background-color: #ffffff; /* Fondo blanco para el campo */
    padding: 15px; /* Espaciado alrededor */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilo para el input de fecha */
#fecha {
    width: 200px; /* Ancho del campo */
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #d4af37; /* Borde dorado */
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
}

/* Estilo cuando el input está enfocado */
#fecha:focus {
    border-color: #d4af37; /* Borde dorado cuando está enfocado */
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
}

#calendar-ver {
    max-width: 70%; /* Ajusta el ancho total del calendario */
    height: 100% !important;
    margin: 0 auto; /* Centrar el calendario */
    margin-bottom: 5rem;
}

.horarios-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.botones-horarios.oculto {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.botones-horarios.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Responsivo: columna para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .botones-admin {
        flex-direction: column; /* Colocar los botones en columna */
        align-items: center; /* Centrar los botones */
    }

    .barra-servicios {
        width: 100%;
        height: auto;
        position: static; /* Hacer la barra estática en pantallas pequeñas */
        display: flex;
        flex-direction: row; /* Colocar la barra en fila */
        justify-content: center; /* Centrar la barra en la parte superior */
        padding: 10px 0; /* Ajustar el padding */
    }

    .main-content {
        margin-top: 80px; /* Ajustar el espacio superior */
        margin-left: 0; /* Eliminar el margen izquierdo */
    }

    .filtros-citas {
        flex-direction: column; /* Colocar los botones en columna */
        align-items: center; /* Centrar los botones */
    }
}



/* Estilos de la lista de servicios */
.servicios {
    list-style: none;
    padding: 0;
    margin: 0;
}

.servicio-item {
    padding: 1.5rem;
    background-color: #ffffff; /* Fondo blanco */
    margin-bottom: 1.5rem;
    border-left: 5px solid #d4af37; /* Borde dorado */
    border-bottom: 1px solid #d4af37; /* Línea divisora dorada */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: box-shadow 0.3s ease-in-out;
}

.servicio-item p {
    color: #d4af37; /* Texto dorado */
}

.servicio-item span {
    color: #000000; /* Texto negro */
}

.servicio-item .acciones .boton {
    color: #ffffff;
    background-color: #d4af37; /* Fondo dorado */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.servicio-item .acciones .boton:hover {
    background-color: #b8860b; /* Fondo dorado más oscuro al pasar el ratón */
}

.servicio-item .acciones .boton-eliminar {
    color: #ffffff;
    background-color: #c62828; /* Fondo rojo */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.servicio-item .acciones .boton-eliminar:hover {
    background-color: #a62323; /* Fondo rojo más oscuro al pasar el ratón */
}

/* Responsivo */
@media screen and (max-width: 768px) {
    .servicio-item {
        padding: 1rem;
    }

    .servicio-item .acciones .boton,
    .servicio-item .acciones .boton-eliminar {
        padding: 8px 10px;
        font-size: 0.9em; /* Tamaño de fuente reducido para pantallas pequeñas */
    }
}


/* Estilos del spinner */
.spinner-overlay {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #000; /* Color del spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.acciones a.boton-actualizar {
    color: #fff;
    background-color: #d4af37;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    
    transition: background-color .3s;
    font-size: 2rem;
    font-weight: 700;
}


.tarjetas {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    flex-wrap: wrap; /* Permitir que las tarjetas se muevan a la siguiente fila en pantallas pequeñas */
}

.tarjeta {
    background: white;
    border: 1px solid #e6c27a;
    border-radius: 10px;
    padding: 15px;
    width: 20%; /* Ancho predeterminado para pantallas grandes */
    text-align: center;
    box-shadow: 0 4px 6px rgba(230, 194, 122, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px; /* Espaciado entre tarjetas */
}

.tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(230, 194, 122, 0.3);
}

.tarjeta h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #bfa15a;
}

.tarjeta .numero {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #444;
}

.tarjeta i {
    font-size: 20px;
    color: #bfa15a;
}

/* Media Queries para dispositivos móviles y tablets */
@media (max-width: 1024px) {
    .tarjeta {
        width: 45%; /* Ajustar el ancho al 45% en pantallas medianas (tablets) */
    }
}

@media (max-width: 768px) {
    .tarjeta {
        width: 100%; /* Ajustar el ancho al 100% en pantallas pequeñas (móviles) */
    }
    .tarjetas {
        justify-content: center; /* Centrar las tarjetas en pantallas pequeñas */
    }
}
#totalGanadoContainer {
    display: flex;
    flex-direction: column; /* Cambia la dirección a vertical */
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 15px 25px; /* Padding más generoso */
    max-width: 320px;
   // background: #f4f4f4; /* Fondo claro */
    border: 1px solid #d4af37; /* Borde dorado */
    border-radius: 12px; /* Esquinas ligeramente redondeadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    text-align: center;
}

#totalGanadoContainer p {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    color: #333; /* Texto oscuro */
    margin-bottom: 10px; /* Espaciado entre texto e ícono */
}

#totalGanadoTexto {
    color: #d4af37;
    font-weight: bold;
    font-size: 22px; /* Tamaño más prominente */
}

.icono-container {
    position: relative;
    display: inline-flex;
    flex-direction: column; /* Icono y tooltip en columnas */
    align-items: center;
    gap: 5px; /* Espacio entre el ícono y el texto del tooltip */
}

#cerrarCajaIcono {
    font-size: 25px; /* Tamaño más grande para el ícono */
    color: #d4af37; /* Ícono con un dorado más vibrante */
    cursor: pointer;
    transition: 0.3s ease; /* Transición suave */
}

#cerrarCajaIcono:hover {
    color: rgb(218, 165, 32);
    transform: scale(1.3); /* Amplifica un poco más al hacer hover */
}

/* Tooltip */
.tooltip-text {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    position: absolute;
    bottom: -50px; /* Posiciona el tooltip debajo del ícono */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

/* Mostrar tooltip al hacer hover */
.icono-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(-5px); /* Sutil animación hacia arriba */
}
